@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Days One;
  src: url(../fonts/DaysOne-Regular.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
}
